*{
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

main{
    background-color: #d9d9d9;
    display: grid;
    gap: 24px;
}

section{
    background-color: #fff;
}