*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer"
    ;
}

header{
    grid-area: header;
    background-color: blueviolet;
}

aside{
    grid-area: aside;
    background-color: burlywood;
}

main{
    grid-area: main;
    background-color: cadetblue;
}

main > section{
    grid-area: section;
    background-color: chocolate;
    margin-bottom: 10px;
    height: 200px;
}

footer{
    grid-area: footer;
    background-color: brown;
}
